/*SECCION NAV*/
.navbar {
    background-color: #3285da;
    font-family: 'Mochiy Pop One';
    font-style: normal;
    font-weight: 400;

}
.navbar{
    min-height: 40px; 
    padding-top: 10Px;
    padding-bottom: 10Px;
}
.navbar-nav .nav-item:hover .nav-link {
    background-color: #ece8e8; 
    color: #000000; 
    border-radius:4px
}
.containerNav{
    padding-top 0em;
    margin:0px,0px,0px,0px;
}
.navbar-nav .nav-item:not(:last-child) {
    margin-right: 15px; 
}
.form-control {
    width: 500px;
}
.logoCarrito {
    margin-left: 10px;
}
.contador {
    margin-left: 30px;
    margin-right: 10px;
    background-color: red;
    color: #ffffff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px; 
}

/*SECCION BODY */

body {
    /*background: linear-gradient(to left, #1b5d10, #423f82);*/
    background-color: #d8d3d0;
    font-family: 'Mochiy Pop One', sans-serif;
}

#carouselExampleCaptions {
    max-width: 1100px; 
    margin: 0 auto; 
}
h1{
    text-align:center;
    padding-top:1em;
    padding-bottom: 1em;
}

.reflected-header {
    position: relative;
    text-align: center;
}

h1 {
    font-size: 36px;
    color: #333;
    background: linear-gradient(to bottom, rgba(255, 219, 51, 0.8) 0%, rgba(255, 51, 51, 0) 100%);
    padding: 20px;
    margin-bottom: -15px;
    z-index: 2;
    animation: reflect 3s infinite; 
}

@keyframes reflect {
    0%, 100% {
        transform: scaleY(1);
    }

    50% {
        transform: scaleY(0); 
    }
}

.reflection {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    transform: scaleY(-1);
    opacity: 0.5;
    filter: blur(5px);
    z-index: 1;
}

.reflection::after {
    content: "";
    display: block;
    height: 50px;
    background: linear-gradient(to bottom, rgba(255, 219, 51, 0.5) 0%, rgba(255, 51, 51, 0) 100%);
}

.col-md-3 .card-body{
    background-color: #85bd9e;
}

.btn-primary:hover {
    background-color: #ff8800; 
    color: #fff; 
    
}
.btn-Ver-Detalle:hover {
    background-color: #ff8800;
    color: #fff;
}
.btn-Ver-Detalle {
    background-color: rgba(255, 219, 51, 0.8);
    color: #333;
    border-radius: 5px;
    font-size: 10px; 
    padding: 3px 8px; 
}




}

.container {
    margin-top: 30px;
}


/*SECCION FOOTER*/
.footer {
    background-color: #16202e;
    text-align: center;
    color: #fff;
    padding: 10px;
    position:page;
    left: 0;
    bottom: 20px;
    width: 100%;
}



